html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.menu{
    display:block;
    background: black;
    margin: 10%;
}

.menu-box{
    display: none;
    margin: 10%;
    background-color: black;
    color: white;
    ;
}

/* Menu de navigation sur le coté */
.sidenav {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: blue;
    transition: all .5s ease;
}

.sidenav header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: chartreuse;
    user-select: none;
}

.sidenav ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid red;
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidenav ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: violet;
    border-radius: 3px;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidenav{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}
/* Section Documentation */
section#doc {
	background-color: #f1cae8; 
	padding-top: 15px;
}  

.cadrepresentation {
    background: #94ff7e;
    border: solid 5px red;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    margin-bottom: 15px;
} 

.profile {
    background: white;
    border: solid 5px red;
    margin: 5px;
    width: 15%;
    height: 40%;
}

.profile2 {
    background: white;
    border: solid 5px red;
    margin: 5px;
    width: 15%;
    height: 40%;
}


.profile3 {
    background: white;
    border: solid 5px red;
    margin: 5px;
    width: 15%;
    height: 40%;
}

.profile4 {
    background: white;
    border: solid 5px red;
    margin: 5px;
    width: 15%;
    height: 40%;
}

.info {
    padding: 5px;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;  /*permet au texte de ne pas dépasser le cadre*/
}

/* FOOTER */

footer {
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 15px;
}

.arrow-top {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding: 5px;
    transition: 5s;
}

.arrow-top i:hover {
	color: red;
}

/* Configuration des sections */
section {
    width: 100%;
    height: 100vh;
    text-align: center;
    scroll-snap-align: center;
}

section h1 {
    font-size: 50px;
}

section p {
    font-size: 15px;
}

.blue {
    border: 2px solid blue;
}

.green {
    border: 2px solid green;
}

.orange {
    border: 2px solid orange;
}

.red {
    border: 2px solid red;
}

#span_temperature {
    padding: 5px;
}

#ligne_modele {
    visibility: hidden;
}

table{
    margin-bottom: 10%;
}

section.active {
    display: initial;
}

table.active {
    display: table;
}

table, tr, th, td {
    border: 1px solid #000;
}

.p_temperature_ext{
    margin-left: 20%;
    display: flex;
    border-radius: solid black 2px ;
}

.p_temperature_int{
    margin-right: 20%;
    display: flex;
    border-radius: solid black 2px ;
}

.container {
    width: 100%;
    height: 120%;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Configuration des sections */
section {
    width: 100%;
    height: 100%;
    text-align: center;
    scroll-snap-align: center;
}

section h1 {
    font-size: 50px;
}

section p {
    font-size: 15px;
}


/* Section Acceuil */
section#acceuil {
    background-color: aliceblue;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#acceuil h1{
	font-size: 90px;
}


/* Section Temperature */
section#temp {
	background-color: #f59999; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}  

/* Section Historique */
section#histo {
	background-color: #b0afff; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}  

#titrehisto {
    font-size: 50px;
}

th {
    font-size: 15px;
}


/* Section Login */
section#login {
	background-color: #94ff7e; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}  


/* Section Documentation */
section#doc {
	background-color: #fd6dd9; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}  

/* FOOTER */

footer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.th [colspan="2"]{
    width:100%;
}