html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.menu{
    display:block;
    background: black;
    margin: 10%;
}

.menu-box{
    display: none;
    margin: 10%;
    background-color: black;
    color: white;
    ;
}

.blue {
    border: 2px solid blue;
}

.green {
    border: 2px solid green;
}

.orange {
    border: 2px solid orange;
}

.red {
    border: 2px solid red;
}

#span_temperature {
    padding: 5px;
}

#ligne_modele {
    visibility: hidden;
}
section, table {
    display: none;
}

section.active {
    display: initial;
}

table.active {
    display: table;
}

table, tr, th, td {
    border: 1px solid #000;
}

.p_temperature_ext{
    margin-left: 20%;
    display: flex;
    border-radius: solid black 2px ;
}

.p_temperature_int{
    margin-right: 20%;
    display: flex;
    border-radius: solid black 2px ;
}